<div class="container-fluid">
  <div class="row">

    <!-- LEFT BAR -->
    <div id="left-bar" class="col-md-2">
      <!-- Hashtags -->
      <h3 class="label">TOP HASHTAGS</h3><br>
      <div class="loader" ng-hide="vm.tags.length">Loading...</div>
      <p ng-hide="vm.tags.length" class="text-center">Waiting for Hashtag Data ...</p>
      <p ng-repeat="tag in vm.tags">
        <span class="word" ng-bind="tag[0]"></span>
      </p>
      <!-- Locations -->
      <h3 class="label">TOP LOCATIONS</h3> <br>
      <div class="loader" ng-hide="vm.topLocations.length">Loading...</div>
      <p ng-hide="vm.topLocations.length" class="text-center">Waiting for Geo Data ...</p>
      <p ng-repeat="location in vm.topLocations">
        <span class="location" ng-bind="location[0]"></span>
      </p>
    </div>

    <!-- MAIN BLOCK -->
    <div id="main-block" class="col-md-8 col-md-offset-2">
      <!-- Header -->
      <h3 class="label">TONE ANALYSIS</h3><br>
      <span class='text-center'>
        <a href="#" ng-click="vm.setDisplay('language')">By Language</a>
        |
        <a href="#" ng-click="vm.setDisplay('emotion')">By Emotion</a>
      </span>
      <br><br>

      <!-- Bar Charts -->
      <div class="row">
        <div class='bar-chart col-md-4 col-md-offset-2' ng-show="vm.display === 'emotion'">
          <canvas id="joyChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='joyColors'
              chart-legend="true"
              chart-data="joyData"
              chart-labels="langLabels"
              chart-series="joySeries"
              chart-options="options">
          </canvas>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="angerChart"
            class="chart chart-bar"
            height="250px"
            chart-colours='angerColors'
            chart-legend="trulangLabelse"
            chart-data="angerData"
            chart-labels="langLabels"
            chart-series="angerSeries"
            chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="disgustChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='disgustColors'
              chart-legend="true"
              chart-data="disgustData"
              chart-labels="langLabels"
              chart-series="disgustSeries"
              chart-options="options">
          </canvas>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="fearChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='fearColors'
              chart-legend="true"
              chart-data="fearData"
              chart-labels="langLabels"
              chart-series="fearSeries"
              chart-options="options">
          </canvas>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="sadnessChart"
          class="chart chart-bar"
              height="250px"
              chart-colours='sadnessColors'
              chart-legend="true"
              chart-data="sadnessData"
              chart-labels="langLabels"
              chart-series="sadnessSeries"
              chart-options="options">
          </canvas>
        </div>
      </div>

      <!-- Radar Charts -->
      <div class='row radar-charts' ng-show="vm.display === 'language'">
        <div class='col-md-6'>
          <canvas id='englishRadar'
            class='chart chart-radar'
            width="275px" 
            chart-colours='colors'
            chart-legend='true'
            chart-data='englishRadar'
            chart-labels='labels'
            chart-series='series'
            chart-options='options'>
          </canvas>
        </div>
        <div class='col-md-6'>
          <canvas id='frenchRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='frenchRadarColors'
            chart-legend='true'
            chart-data='frenchRadar'
            chart-labels='labels'
            chart-series='frenchRadarSeries'
            chart-options='options'>
          </canvas>
        </div>
        <div class='col-md-6'>
          <canvas id='spanishRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='spanishRadarColors'
            chart-legend='true'
            chart-data='spanishRadar'
            chart-labels='labels'
            chart-series='spanishRadarSeries'
            chart-options='options'>
          </canvas>
        </div>
        <div class='col-md-6'>
          <canvas id='arabicRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='arabicRadarColors'
            chart-legend='true'
            chart-data='arabicRadar'
            chart-labels='labels'
            chart-series='arabicRadarSeries'
            chart-options='options'>
          </canvas>
        </div>
      </div>

    </div>

    <!-- RIGHT BAR -->
    <div id="right-bar" class="col-md-2">
      <h3 class="label">LIVE TWEETS</h3>
      <br>
      <div ng-repeat="tweet in tweetQueue track by $index" class="tweet">
        <p class="username"><b> @{{ tweet.user }} </b></p>
        <p class="tweet"> {{ tweet.tweet }}</p>
        <br>
      </div>
    </div>

  </div>
</div>
