<div class="container-fluid">
  <div class="row">

    <!-- LEFT BAR -->
    <div id="left-bar" class="col-md-2">
      <!-- Hashtags -->
      <h3 class="label text-center">RELATED HASHTAGS</h3><br><br>
      <div class="loader" ng-hide="vm.tags.length">Loading...</div>
      <p ng-hide="vm.tags.length" class="text-center">Waiting for Hashtag Data ...</p>
      <p ng-repeat="tag in vm.tags">
        <span class="word" ng-bind="tag[0]"></span>
      </p>
      <!-- Locations -->
      <h3 class="label text-center">TOP LOCATIONS</h3><br><br>
      <div class="loader" ng-hide="vm.topLocations.length">Loading...</div>
      <p ng-hide="vm.topLocations.length" class="text-center">Waiting for Geo Data ...</p>
      <p ng-repeat="location in vm.topLocations">
        <span class="location" ng-bind="location[0]"></span>
      </p>
    </div>

    <!-- MAIN BLOCK -->
    <div id="main-block" class="col-md-8 col-md-offset-2">
      <!-- Header -->
      <span class='text-center'>
        <h3 class="label">TONE ANALYSIS <span ng-show="currentHashtag">for '{{ currentHashtag | uppercase }}'</span></h3><br>
        <button type="button" class="btn btn-default display" ng-class="{'active': vm.display === 'language'}"><a href="#" ng-click="vm.setDisplay('language')">By Language</a></button>
        <button type="button" class="btn btn-default display" ng-class="{'active': vm.display === 'emotion'}"><a href="#" ng-click="vm.setDisplay('emotion')">By Emotion</a></button>
      </span>
      <br>
      <!-- Bar Charts -->
      <div class="row">
        <div class='bar-chart col-md-4 col-md-offset-2' ng-show="vm.display === 'emotion'">
          <canvas id="joyChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='joyColors'
              chart-legend="true"
              chart-data="joyData"
              chart-labels="langLabels"
              chart-series="joySeries"
              chart-options="options">
          </canvas>
          <p>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="angerChart"
            class="chart chart-bar"
            height="250px"
            chart-colours='angerColors'
            chart-legend="trulangLabelse"
            chart-data="angerData"
            chart-labels="langLabels"
            chart-series="angerSeries"
            chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="disgustChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='disgustColors'
              chart-legend="true"
              chart-data="disgustData"
              chart-labels="langLabels"
              chart-series="disgustSeries"
              chart-options="options">
          </canvas>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="fearChart"
              class="chart chart-bar"
              height="250px"
              chart-colours='fearColors'
              chart-legend="true"
              chart-data="fearData"
              chart-labels="langLabels"
              chart-series="fearSeries"
              chart-options="options">
          </canvas>
        </div>
        <div class='bar-chart col-md-4' ng-show="vm.display === 'emotion'">
          <canvas id="sadnessChart"
          class="chart chart-bar"
              height="250px"
              chart-colours='sadnessColors'
              chart-legend="true"
              chart-data="sadnessData"
              chart-labels="langLabels"
              chart-series="sadnessSeries"
              chart-options="options">
          </canvas>
        </div>
      </div>

      <!-- Radar Charts -->
      <div class='row radar-charts' ng-show="vm.display === 'language'">
        <div class='col-md-5 col-md-offset-1 english-radar'>
          <canvas id='englishRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='englishRadarColors'
            chart-legend='true'
            chart-data='englishRadar'
            chart-labels='labels'
            chart-series='series'
            chart-options='options'>
          </canvas>
          <p>
            <ng-pluralize count="englishCount"
             when="{'0': '0 tweets',
             '1': '1 tweet',
             'other': '{} tweets'}">
            </ng-pluralize>
          </p>
        </div>
        <div class='col-md-5 french-radar'>
          <canvas id='frenchRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='frenchRadarColors'
            chart-legend='true'
            chart-data='frenchRadar'
            chart-labels='labels'
            chart-series='frenchRadarSeries'
            chart-options='options'>
          </canvas>
          <p>
            <ng-pluralize count="frenchCount"
             when="{'0': '0 tweets',
             '1': '1 tweet',
             'other': '{} tweets'}">
            </ng-pluralize>
          </p>
        </div>
        <div class='col-md-5 col-md-offset-1 spanish-radar'>
          <canvas id='spanishRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='spanishRadarColors'
            chart-legend='true'
            chart-data='spanishRadar'
            chart-labels='labels'
            chart-series='spanishRadarSeries'
            chart-options='options'>
          </canvas>
          <p>
            <ng-pluralize count="spanishCount"
             when="{'0': '0 tweets',
             '1': '1 tweet',
             'other': '{} tweets'}">
            </ng-pluralize>
          </p>
        </div>
        <div class='col-md-5 arabic-radar'>
          <canvas id='arabicRadar'
            class='chart chart-radar'
            width="275px"
            chart-colours='portugueseRadarColors'
            chart-legend='true'
            chart-data='portugueseRadar'
            chart-labels='labels'
            chart-series='portugueseRadarSeries'
            chart-options='options'>
          </canvas>
          <p>
            <ng-pluralize count="portugueseCount"
             when="{'0': '0 tweets',
             '1': '1 tweet',
             'other': '{} tweets'}">
            </ng-pluralize>
          </p>
        </div>
      </div>
    </div>

    <!-- RIGHT BAR -->
    <div id="right-bar" class="col-md-2">
      <h3 class="label text-center">LIVE TWEETS</h3><br><br>

      <div ng-repeat="tweet in tweetQueue track by $index" class="tweet">
        <p class="username"><b> @{{ tweet.user }} </b></p>
        <p class="tweet"> {{ tweet.tweet }}</p>
        <br>
      </div>
    </div>

  </div>
</div>
