body {
  padding: 50px;
  padding-top: 100px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(98, 98, 98);
}

a {
  color: #00B7FF;
}

h3.label {
  font-family: 'Raleway', sans-serif;
  color: rgb(102, 232, 255);
  font-size: 22px;
}

/* Left Bar / Word Cloud*/
#left-bar {
  position: fixed;
  left: 0;
  min-width: 15%;
  max-width: 15%;
  min-height: 80%;
  border-right: 1px solid white;
  padding: 0.25% 2% 0 2%;
  margin-right: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
.word {
  font-size: 16px;
}

/* Right Bar / Live Tweets */
#right-bar {
  position: fixed;
  right: 0;
  min-width: 15%;
  max-width: 15%;
  min-height: 80%;
  border-left: 1px solid white;
  padding: 0.25% 2% 0 2%;
  margin-left: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
p.username {
  color: rgb(102, 232, 255);
}

/* Center Block*/
#toneChart {
  color: white;
}

div#main-block {
  color: white;
  text-align: center;
}
