body {
  padding: 50px;
  padding-top: 100px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(98, 98, 98);
}

a {
  color: #00B7FF;
}

/* NAVBAR */
div.navbox {
  margin-left: 1%;
}
navbar {
  background-color: rgb(111, 166, 238) !important;
}
a.navbar-brand {
  color: white !important;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: left;
}

h3.label {
  font-family: 'Raleway', sans-serif;
  color: rgb(111, 166, 238);
  font-size: 22px;
  padding-left: 0;
  margin-bottom: 10px;
}

/* Left Bar / Word Cloud*/
#left-bar {
  position: fixed;
  left: 0;
  min-width: 18%;
  max-width: 18%;
  min-height: 80%;
  border-right: 1px solid white;
  padding: 0.25% 2% 0 2%;
  margin-right: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
.word {
  font-size: 16px;
}

/* Right Bar / Live Tweets */
#right-bar {
  position: fixed;
  right: 0;
  min-width: 18%;
  max-width: 18%;
  min-height: 80%;
  max-height: 80%;
  border-left: 1px solid white;
  padding: 0.25% 1% 0 1%;
  margin-left: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
div.tweet {
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 2%;
}
div.tweet:nth-child(even) {
  background-color: rgba(217, 216, 216, 0.45);
}
div.tweet:nth-child(odd) {
  background-color: rgba(112, 172, 250, 0.55);
}
p.username {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
p.tweet {
  margin-bottom: -2%;
  font-size: 12px;
}

/* Center Block*/
#toneChart {
  color: white;
}

div#main-block {
  color: white;
  text-align: center;
}
